<section class="about-text">
    <h1>- Our Mission -</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>   

    <h2>About</h2> 

    <div>
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus blanditiis consequatur at, voluptatum eius aliquam obcaecati quisquam repudiandae ab magnam error voluptatibus sed iure eligendi. Dolor iure unde nam deserunt? Tenetur fugiat, deleniti quaerat officia ex temporibus voluptates atque perspiciatis eos dolore nemo illo exercitationem tempora, adipisci, odit placeat consequuntur!
        </p>

        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid iure reiciendis possimus praesentium voluptatibus perferendis placeat! Autem hic natus sequi voluptatum optio quis accusamus veritatis dolor perferendis unde molestias, iusto maxime consequuntur exercitationem recusandae soluta ad repellendus mollitia placeat, laudantium fuga necessitatibus voluptate eum id. Similique ratione laborum magnam cum!
        </p>
    </div>
</section>