<div class="hero-image">
    <div class="hero-text">
        <p>Explore our unique collection of
                vintage analog synthesizers
        </p>
    </div>
</div>




<div class="home-info-group">
    <div class="icon-group">
        <img src="/images/synth_002.svg" alt=""> 
        <div class="home-text-group">
            <h2>Authentic Analog</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere optio voluptate quas velit, corporis dignissimos nostrum minima earum et fugit doloribus autem asperiores expedita, at qui excepturi eos, cupiditate vitae?</p>
        </div>
    </div>

    <div class="icon-group">
        <img src="/images/analog-wave.svg" alt="">
        <div class="home-text-group">
            <h2>Classic Circuits</h2> 
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, modi cupiditate. Velit quos necessitatibus ducimus vel quod, modi laboriosam accusantium animi quas quo tempore mollitia fuga consectetur corporis voluptate minus?</p>
        </div>
    </div>
</div>

