<input type="text" placeholder="filter" ng-model="gear" class="keyboard-filter"> 

<div class="keyboard-list" ng-controller="myAppController">
       <div ng-repeat="data in myData | filter: gear" class="keyboard-card">
              <a href="#!/synths/{{data.name}}/{{data.description}}/{{data.image}}">
               <img ng-src="{{data.image}}" alt="synthesizer">
               <span class="card-title">
                     <h3>{{data.name}}</h3>
               </span>
               </a>
       </div>
</div>